<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOVmylRtv59EkKW8U7k6gQCoJ5zpRlOSA</string>
	<key>GCM_SENDER_ID</key>
	<string>346515194083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smart.driving</string>
	<key>PROJECT_ID</key>
	<string>smart-driving-64027</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-driving-64027.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346515194083:ios:e11c1e667ad574c0c045d6</string>
</dict>
</plist>